<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="text-start">Contact</h1>
        <p class="text-start mb-4">
            Donec ullamcorpor nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
            Praesent commodo cursus
            magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
        <form class="w-100" style="max-width: 500px; margin: 0 auto;">
            <div class="mb-3 row">
                <label for="email" class="col-sm-3 col-form-label text-start">Your E-mail</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" placeholder="Your email" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="message" class="col-sm-3 col-form-label text-start">Your message</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="message" rows="4" placeholder="Please enter your message here..."
                        required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 offset-sm-3 text-end">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>