<!-- your html code here -->
    <div class="container bg-white">
        <h1>Porfolio</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo atque distinctio consequatur commodi unde, vel iste quisquam delectus doloremque quaerat debitis earum accusantium magni necessitatibus illo, placeat eos nisi, exercitationem ad ipsum ratione! Rem quo, accusantium quae perspiciatis repellendus earum?git</p>
    <div class="card-group">
        <div class="card border-light me-4">
          <img src="http://via.placeholder.com/700x400" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eveniet laudantium tempore distinctio quod explicabo assumenda</p>
          </div>
        </div>
        <div class="card border-light me-4">
          <img src="http://via.placeholder.com/700x400" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eveniet laudantium tempore distinctio quod explicabo assumenda.</p>
          </div>
        </div>
        <div class="card border-light me-4">
          <img src="http://via.placeholder.com/700x400" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eveniet laudantium tempore distinctio quod explicabo assumenda.</p>
          </div>
        </div>
      </div>
    </div>   
   

