<!-- your html code here -->
<div class="container bg-white">
    <div  class="d-flex justify-content-center p-5 ">
        <img class="rounded-circle me-4" 
        src="https://storage.googleapis.com/pod_public/1300/117919.jpg" 
        alt="Imagen"  
        width="300" 
        height="300"
        >
        <div>
            <span class="fw-bold fs-1">This Second Heading</span> <span class="text-secondary fw-bold fs-1"> Is Preatty Cool Too</span>
            <p class="fw-medium">¡Atención! 🚨 ¿Te sientes atrapado en la monotonía? 🤯 Es hora de romper las cadenas y liberar tu espíritu. 🔓 Un nuevo camino se abre ante ti, lleno de oportunidades y desafíos. 🗺️ No te quedes en la orilla, ¡lánzate a la aventura! 🌊 Experimenta la emoción de lo desconocido, descubre tu verdadero potencial y vive una vida llena de significado. ✨ El cambio comienza ahora, ¿estás dispuesto a dar el primer paso? 💪</p>
        </div>
    </div>
</div>